---
const title = "Smart Shopping Cart";
const desc = `An iOS shopping app that automatically scans items in a customer's offline grocery cart, successfully increased shop revenue by 25%.`;

import { Image } from "astro:assets";
import scMobile from "../../assets/Container - Cart-m.png"; // Make sure to add your image to this path
import scDesktop from "../../assets/Container - Grocery.png"; // Make sure to add your image to this path
import scTablet from "../../assets/Container - Cart-t.png";
import Pile from "../Pile.astro";
import Heading from "../Heading.astro";
---

<section class="relative flex flex-col w-full lg:h-[30rem]  bg-[#1564AC] group overflow-hidden">
  <Image
    src={scDesktop}
    alt="Savicore image-co"
    class="hidden  w-auto mx-auto h-full relative   z-[1] "
  />

  <Image
    src={scTablet}
    alt="Savicore image-co"
    class="hidden lg:block  mx-auto relative w-auto h-full z-[1]"
  />

  <div class="hidden lg:block  absolute w-[14rem] h-[14rem] -top-[4rem] left-[calc(50%_-_34rem)] rounded-full z-[0] bg-[#E8B87B]">

  </div>
  <Image
    src={scMobile}
    alt="Savicore image-co"
    class="block lg:hidden w-full h-full"
  />

  <div
    class="hidden absolute w-[28rem]  top-1/2 lg:left-[calc(50%_+_2rem)]  z-[2] -translate-y-1/2 lg:flex flex-col items-start justify-center gap-4 "
  >
    <div class="flex gap-4">
      <Pile text="Mobile" />
      <Pile text="UX Design" />
      <Pile text="UX Writing" />
    </div>
    <div class="text-white text-left">
      <h2
        class={`text-left w-full text-[2rem]  font-bold leading-[3rem] text-white`}
        style="font-family: 'Playfair Display', serif;"
      >
        {title}
      </h2>
    </div>
    <p class="italic w-full  text-white pr-[20%]">
      {desc}
    </p>
  </div>

</section>


<div class="lg:hidden flex flex-col items-start p-[6%] gap-2 mb-[15%]">
  <div class="flex gap-4 text-[#5B3EFF] font-playfair">
    Mobile | UX Design | UX Writing
  </div>
  <div class="text-left">
    <Heading text={title} />
  </div>
  <p class="italic w-full text-xl text-left">
    {desc}
  </p>
</div>