---
const title = "Smart Shopping Cart";
const desc = `An iOS shopping app that automatically scans items in a customer's offline grocery cart, successfully increased shop revenue by 25%.`;

import { Image } from "astro:assets";
import scMobile from "../../assets/Container - Cart-m.png"; // Make sure to add your image to this path
import scDesktop from "../../assets/Container - Grocery.png"; // Make sure to add your image to this path
import scTablet from "../../assets/Container - Cart-t.png";
import Pile from "../Pile.astro";
import Heading from "../Heading.astro";
---

<section class="relative flex flex-col w-full h-full group">
  <Image
    src={scDesktop}
    alt="Savicore image-co"
    class="hidden xl:block w-full h-full z-[1] group-hover:scale-110 transition-all duration-500 ease-out"
  />

  <Image
    src={scTablet}
    alt="Savicore image-co"
    class="hidden md:block xl:hidden w-full h-full"
  />

  <Image
    src={scMobile}
    alt="Savicore image-co"
    class="block md:hidden w-full h-full"
  />

  <div
    class="hidden absolute w-2/5 right-0 top-1/2 z-[2] pr-[6%] -translate-y-1/2 md:flex flex-col items-start justify-center gap-4"
  >
    <div class="flex gap-4">
      <Pile text="Mobile" />
      <Pile text="UX Design" />
      <Pile text="UX Writing" />
    </div>
    <div class="text-white text-left">
      <h2
        class={`text-left w-full text-[32px] xl:text-[64px] font-bold leading-[86px] text-white`}
        style="font-family: 'Playfair Display', serif;"
      >
        {title}
      </h2>
    </div>
    <p class="italic w-full text-xl text-white pr-[20%]">
      {desc}
    </p>
  </div>

  <div class="md:hidden flex flex-col items-start p-[6%] gap-2 mb-[15%]">
    <div class="flex gap-4 text-[#5B3EFF] font-playfair">
      Mobile | UX Design | UX Writing
    </div>
    <div class="text-left">
      <Heading text={title} />
    </div>
    <p class="italic w-full text-xl text-left">
      {desc}
    </p>
  </div>
</section>
