---
import { Image } from "astro:assets";

import scMobile from "../../assets/Container - Parabled-m.png"; // Make sure to add your image to this path
import scDesktop from "../../assets/Container - Parabled.png"; // Make sure to add your image to this path
import scTablet from "../../assets/Container - Parabled-t.png"; // Make sure to add your image to this path
import Heading from "../Heading.astro";
import Pile from "../Pile.astro";

const title = "Parabled";
const desc1  = `First version of Savicore`
const desc2  = `Revamp the entire learning platform website to attract users and encourage them to register for our coaching plans.`
---

<section class="relative flex flex-col w-full h-full group">
  <Image
    src={scDesktop}
    alt="Savicore image-co"
    class="hidden xl:block w-full h-full  group-hover:scale-110 transition-all duration-500 ease-out"
  />

  <Image
    src={scTablet}
    alt="Savicore image-co"
    class="hidden md:block xl:hidden w-full h-full"
  />

  <Image
    src={scMobile}
    alt="Savicore image-co"
    class="block md:hidden w-full h-full"
  />

  <div
    class="hidden xl:pl-[4%] xl:pr-0 pl-0 pr-[6%] absolute w-2/5 right-0 xl:left-0 top-1/2 -translate-y-1/2 md:flex flex-col items-start justify-center gap-4"
  >
    <div class="flex gap-4">
      <Pile text="Web" />
      <Pile text="UX Writing" />
    </div>
    <div class="">
      <Heading text={title} />
    </div>
    <p class="font-bold font-playfair text-[28px] w-full text-xl ">
      {desc1}
    </p>
    <p class="italic w-full text-xl ">
      {desc2}
    </p>
  </div>

  <div
  class="md:hidden flex flex-col items-start p-[6%] gap-2 mb-[15%]"
>
  <div class="flex gap-4 text-[#5B3EFF] font-playfair">
    Web | UX Writing
  </div>
  <div class="text-left">
    <Heading text={title} />
  </div>
  <p class="font-bold font-playfair text-[24px] w-full text-xl text-left">
    {desc1}
  </p>
  <p class="italic w-full text-xl text-left">
    {desc2}
  </p>
</div>


</section>
