---
import Heading from "../Heading.astro";
import { Image } from "astro:assets";
import lucent from "../../assets/Lucent Designs.png";
import savicore from "../../assets/Savicore.png";
import presently from "../../assets/Presently.png";

import Bit from "../../assets/Icon - Bit Project.png";
import GL from "../../assets/Icon - Guardian Life.png";
import Pit from "../../assets/Icon - PitchTeen.png";
import ImaCre from "../../assets/Icon - Imagine Creative.png";
import Zak from "../../assets/Icon - ZAKKI.png";
---


<section class="mb-6 px-[1rem] lg:px-[6rem] flex flex-col items-center list lg:pt-12 z-[1] relative ">
  <Heading text="Trusted by" />
  <p class="text-center w-full max-w-[45rem] xl:px-[6rem] mx-auto">
    Through my collaborations with diverse teams, startups, and companies, I
    have successfully driven sales and performance growth.
  </p>
  <div class="flex  flex-col lg:flex-row justify-center items-center gap-2 lg:gap-8 my-6 w-full max-w-[45rem] xl:px-[6rem]">
    <Image src={savicore} alt="Savicore image" class="item transition-all ease-out duration-300 h-[4.375rem] object-contain w-fit " />
    <Image src={presently} alt="Presently image" class="item transition-all ease-out duration-300 h-[4.375rem] object-contain w-fit " />
    <Image src={lucent} alt="Lucent image" class="item transition-all ease-out duration-300 h-[2.5rem] object-contain w-fit " />
  </div>
  <div class="lg:flex hidden w-full justify-center items-center gap-8 my-0 max-w-[45rem] xl:px-[6rem]">
    <Image src={Bit} alt="Savicore image" class="item transition-all ease-out duration-300 h-[5rem] object-contain w-fit " />
    <Image src={Pit} alt="Savicore image" class="item transition-all ease-out duration-300 h-[5rem] object-contain w-fit " />
    <Image src={GL} alt="Savicore image" class="item transition-all ease-out duration-300 h-[5rem] object-contain w-fit " />
    <Image src={ImaCre} alt="Savicore image" class="item transition-all ease-out duration-300 h-[5rem] object-contain w-fit " />
    <Image src={Zak} alt="Savicore image" class="item transition-all ease-out duration-300 h-[5rem] object-contain w-fit " />
  </div>
</section>
