---
import { Image } from "astro:assets";
import offerup from "../../assets/brightwaste/brightwaste-offerup.png";
import persona from "../../assets/brightwaste/brightwaste-persona.png";
import customerJourney from "../../assets/brightwaste/brightwaste-customer-journey.png";
import customerJourney2 from "../../assets/brightwaste/brightwaste-customer-journey-2.png";
import flowchart from "../../assets/brightwaste/brightwaste-flowchart.png";
---



    <!-- Define -->

    <div
    id="define"
      class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-6 p-6 lg:px-[10%] "
    >
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
      >
        <p class="self-stretch flex-grow-0 flex-shrink-0 w-full text-left">
          <span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-lg font-bold text-left text-[#5b3eff] font-['Playfair_Display']"
            >MORE RESEARCH</span
          ><br /><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold font-['Playfair_Display']  text-left text-[#020202]"
            >Were there any competitive analysis we should worry about?</span
          >
        </p>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold text-left text-[#020202]"
          >
            ➡️ OfferUp and Facebook Marketplace
          </p>
          <div
            class="flex justify-center items-start flex-grow-0 flex-shrink-0 w-full gap-[140px]"
          >
            <div
              class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#00b2ff]"
            >
              <p class="flex-grow-0 flex-shrink-0 text-xl font-bold text-left text-[#020202] font-['Playfair_Display']">
                Pros:
              </p>
              <p
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
              >
                <span
                  class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
                  >Cheaper price.</span
                ><br /><span
                  class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
                  >Browse items in just a few minutes from your phone.
                </span>
              </p>
              <p class="flex-grow-0 flex-shrink-0 text-xl font-bold text-left text-[#020202] font-['Playfair_Display']">
                Cons:
              </p>
              <p
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
              >
                Meeting in a public location can have safety issues due to the risk of meeting
                strangers. You might also encounter unreliable buyers or sellers.
              </p>
            </div>
          </div>
        </div>
        <Image
          src={offerup}
          alt="Offer up"
          class="flex-grow-0 flex-shrink-0 w-full lg:w-[45rem] mx-auto"
        />
      </div>
      <p class="flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]">
        <span class="flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
          >In our search for the best upcycling apps, we explored some alternatives like </span
        ><span
          class="flex-grow-0 flex-shrink-0 w-full text-base font-semibold text-left text-[#020202]"
          >Depop</span
        ><span class="flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]">
          and </span
        ><span
          class="flex-grow-0 flex-shrink-0 w-full text-base font-semibold text-left text-[#020202]"
          >Refinery</span
        ><span class="flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
          >. Here's what we discovered:</span
        >
      </p>
      <div
        class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-full relative gap-4"
      >
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold text-left text-[#020202]"
        >
          ➡️ Depop and Refinery
        </p>
        <div
          class="flex justify-center items-start self-stretch flex-grow-0 flex-shrink-0 gap-[140px]"
        >
          <div
            class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#00b2ff]"
          >
            <p class="flex-grow-0 flex-shrink-0 text-xl font-bold text-left text-[#020202] font-['Playfair_Display']">
              Pros:
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              <span
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
                >The website is straightforward.</span
              ><br /><span
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
                >Can negotiate the price.</span
              >
            </p>
            <p class="flex-grow-0 flex-shrink-0 text-xl font-bold text-left text-[#020202] font-['Playfair_Display']">
              Cons:
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              Shipping cost issue.
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-full relative gap-4"
      >
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          <span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >Due to the </span
          ><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold italic text-left text-[#020202]"
            >limited amount of time</span
          ><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >, we didn’t develop app-based platform. Instead, we focused on </span
          ><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold italic text-left text-[#020202]"
            >creating a desktop </span
          ><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >view, as it simplifies the listing process.</span
          >
        </p>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          Regarding the item condition issue, we wanted the shop to provide an estimated fair price.
          However, the final price may be subject to change upon inspection of the item at the shop.
        </p>
      </div>
    </div>
    <div
      class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 gap-6 p-6 lg:px-[10%] "
    >
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
      >
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold text-left text-[#020202]  font-['Playfair_Display']"
        >
          Second interview sparked more ideas
        </p>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          We ended up interviewing two people from the last interview in the material store, despite
          time constraints.
        </p>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          These were the follow-up questions we asked them:
        </p>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
        >
          <div
            class="flex justify-center items-start flex-grow-0 flex-shrink-0 w-full gap-[140px]"
          >
            <div
              class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#00b2ff]"
            >
              <p
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-bold text-left text-[#020202]  font-['Playfair_Display']"
              >
                How is/was your experience getting rid of the unwanted items?
              </p>
              <p
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
              >
                Answers can vary from selling the item, giving it away for free, or holding a garage
                sale.
              </p>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
        >
          <div
            class="flex justify-center items-start flex-grow-0 flex-shrink-0 w-full gap-[140px]"
          >
            <div
              class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#00b2ff]"
            >
              <p
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-bold text-left text-[#020202]  font-['Playfair_Display']"
              >
                Are you planning to move anytime soon?
              </p>
              <p
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
              >
                Luckily, we found the perfect users who were planning to move out soon and wanted to
                get rid of their unwanted items.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
      >
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold text-left text-[#020202]"
        >
          ➡️ First user: Jason, 20, student
        </p>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          Jason planned to move back to his hometown of Texas after attending college at the
          University of Washington Tacoma. He was creative and had experience with DIY projects,
          often refurbishing used products for his personal use. His expectations were:
        </p>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          <span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >To earn more money from selling his used table and sofa.</span
          ><br /><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >To clear out the items he wouldn’t be taking with him, as he had up to a month to move
            out.</span
          >
        </p>
        <Image
          src={persona}
          alt="Customer Persona"
          class="self-stretch flex-grow-0 flex-shrink-0 w-full lg:w-[45rem] mx-auto"
        />
      </div>
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
      >
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold text-left text-[#020202]"
        >
          ➡️ Second user: Sasha, 52, housewife
        </p>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          She wasn’t as creative as Jason, but her son was. She mentioned that she was moving to a
          new apartment in another state and needed to get rid of a lot of furniture and kitchen
          appliances. She always had trouble disposing of unwanted items, especially broken or used
          ones. Her expectations were:
        </p>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          <span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >Easily dispose of unwanted items using our website.</span
          ><br /><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >Connect with buyers (preferably in nearby stores) and receive good offers for used or
            upcycled items.</span
          ><br /><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >Simplify and secure the transaction process.</span
          >
        </p>
        <Image
          src={customerJourney}
          alt="Customer Journey"
          class="self-stretch flex-grow-0 flex-shrink-0 w-full lg:w-[45rem] mx-auto"
        />
      </div>
    </div>
    <div
      class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-6 p-6 lg:px-[10%] "
    >
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
      >
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold text-left  font-['Playfair_Display'] text-[#020202]"
        >
          Customer journey
        </p>
        <p class="flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]">
          Based on the research, I have curated the results into two types of customer journeys:
          specific and general.
        </p>
        <p class="flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]">
          This allows us to understand what to expect for the features to be developed from both a
          broad and targeted perspective.
        </p>
      </div>
      <Image
          src={customerJourney2}
          alt="Customer Journey 2"
          class="self-stretch flex-grow-0 flex-shrink-0 w-full lg:w-[45rem] mx-auto"
        />
    </div>
    <div
      class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 gap-6 p-6 lg:px-[10%] "
    >
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
      >
        <p class="self-stretch flex-grow-0 flex-shrink-0 w-full text-left">
          <span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-lg font-bold text-left  font-['Playfair_Display']  text-[#5b3eff]"
            >BRAINSTORMING</span
          ><br /><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  font-['Playfair_Display'] text-left text-[#020202]"
            >Flowchart of BrightWaste</span
          >
        </p>
        <p class="flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]">
          I created a flowchart to help all the team members clearly communicate, understood our
          goal and how we achieved it.
        </p>
        <p class="flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]">
          <span class="flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >We used </span
          ><span
            class="flex-grow-0 flex-shrink-0 w-full text-base font-semibold italic text-left text-[#020202]"
            >Firebase</span
          ><span class="flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]">
            to connect to the database when a user signs up. We used </span
          ><span
            class="flex-grow-0 flex-shrink-0 w-full text-base font-semibold italic text-left text-[#020202]"
            >Courier API</span
          ><span class="flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]">
            to notify users through email.</span
          >
        </p>
        <div
          class="flex justify-center items-start self-stretch flex-grow-0 flex-shrink-0 gap-[140px]"
        >
          <div
            class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#00b2ff]"
          >
            <p class="flex-grow-0 flex-shrink-0 text-xl font-bold text-left  font-['Playfair_Display'] text-[#020202]">
              Register an account
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              Users can register their accounts as usual, but due to time constraints and for easier
              development, we initially focused on building the Gmail sign-up version.
            </p>
          </div>
        </div>
        <div
          class="flex justify-center items-start self-stretch flex-grow-0 flex-shrink-0 gap-[140px]"
        >
          <div
            class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#00b2ff]"
          >
            <p class="flex-grow-0 flex-shrink-0 text-xl font-bold  font-['Playfair_Display'] text-left text-[#020202]">
              Landing page
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              After registration, users will be directed to the landing page, where they can learn
              about what BrightWaste offers.
            </p>
          </div>
        </div>
        <div
          class="flex justify-center items-start self-stretch flex-grow-0 flex-shrink-0 gap-[140px]"
        >
          <div
            class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#00b2ff]"
          >
            <p class="flex-grow-0 flex-shrink-0 text-xl font-bold text-left  font-['Playfair_Display'] text-[#020202]">
              Deal starts
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              Users can initiate a deal or start a transaction by completing the upload form.
            </p>
          </div>
        </div>
        <div
          class="flex justify-center items-start self-stretch flex-grow-0 flex-shrink-0 gap-[140px]"
        >
          <div
            class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#00b2ff]"
          >
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-bold  font-['Playfair_Display'] text-left text-[#020202]"
            >
              Few options to start an offer
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              The user has a few options: they can either sell the item directly, wait to upcycle it
              into a better product, or save the offer for later if they choose.
            </p>
          </div>
        </div>
        <div
          class="flex justify-center items-start self-stretch flex-grow-0 flex-shrink-0 gap-[140px]"
        >
          <div
            class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#00b2ff]"
          >
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-bold text-left  font-['Playfair_Display'] text-[#020202]"
            >
              Two cases here
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              If the user chooses to upcycle, they can retrieve the saved offer, resubmit it, and
              the system will notify the store about the offer.
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              Alternatively, the user can sell it directly without needing to upcycle, and the store
              will contact them within a few days to proceed with the transaction process.
            </p>
          </div>
        </div>
        <div
          class="flex justify-center items-start self-stretch flex-grow-0 flex-shrink-0 gap-[140px]"
        >
          <div
            class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#00b2ff]"
          >
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-bold  font-['Playfair_Display'] text-left text-[#020202]"
            >
              Store decides
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              The store can then decide whether to accept the offer or not.
            </p>
          </div>
        </div>
        <div
          class="flex justify-center items-start self-stretch flex-grow-0 flex-shrink-0 gap-[140px]"
        >
          <div
            class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#00b2ff]"
          >
            <p
              class="self-stretch  font-['Playfair_Display'] flex-grow-0 flex-shrink-0 w-full text-xl font-bold text-left text-[#020202]"
            >
              Resubmit or done?
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              If the store doesn't accept the offer, the user can resubmit it to another store. If
              the store accepts, they can proceed to the next transaction. We haven't finalized the
              shipping fee yet, as it depends on how the store wants to handle it. For now, it's
              just a concept.
            </p>
          </div>
        </div>
        <p
          class="flex-grow-0 flex-shrink-0 w-full text-base font-semibold italic text-left text-[#020202]"
        >
          <span
            class="flex-grow-0 flex-shrink-0 w-full text-base font-semibold italic text-left text-[#020202]"
            >***</span
          ><br /><span
            class="flex-grow-0 flex-shrink-0 w-full text-base font-semibold italic text-left text-[#020202]"
            >After the transaction, the confirmation waiting time varies depending on the store,
            typically taking around 3 days.
          </span>
        </p>
        <p
          class="flex-grow-0 flex-shrink-0 w-full text-base font-semibold italic text-left text-[#020202]"
        >
          In the future, our system will be able to notify the store if they respond too slowly or
          fail to respond within the 3-day period. We should also account for public holidays when
          the store may be closed.
        </p>
        <Image
          src={flowchart}
          alt="flowchart"
          class="self-stretch flex-grow-0 flex-shrink-0 w-full lg:w-[45rem] mx-auto"
        />
      </div>
    </div>