---
import { Image } from "astro:assets";
import ourFeature from "../../assets/brightwaste/brightwaste-our-feature.png";
import colorChoices from "../../assets/brightwaste/brightwaste-color-choices.png";
import ui1 from "../../assets/brightwaste/brightwaste-ui-1.png";
import ui2 from "../../assets/brightwaste/brightwaste-ui-2.png";
import productUpload from "../../assets/brightwaste/brightwaste-product-upload.png";
import productUpload2 from "../../assets/brightwaste/brightwaste-product-upload-2.png";
import productUpload3 from "../../assets/brightwaste/brightwaste-product-upload-3.png";
import videoLanding from "../../assets/brightwaste/video-brightswate-landing.gif"
import videoOffer from "../../assets/brightwaste/video-brightswate-offer.gif"
import videoStore from "../../assets/brightwaste/video-brightswate-store.gif"
---


    <!-- IDEATION -->
    <div
    id="ideate"
      class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-6 p-6  lg:px-[10%]"
    >
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
      >
        <p class="self-stretch flex-grow-0 flex-shrink-0 w-full text-left">
          <span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-lg font-bold  font-['Playfair_Display'] text-left text-[#5b3eff]"
            >IDEATION</span
          ><br /><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  font-['Playfair_Display'] text-left text-[#020202]"
            >The features</span
          >
        </p>
        <p class="flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]">
          Our features included:
        </p>
      </div>
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-8"
      >
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p class="flex-grow-0 flex-shrink-0 text-xl font-semibold  text-left text-[#020202]">
            ➡️ Safe transaction
          </p>
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
          >
            Transactions will no longer be allowed outside the store or in hidden areas to prevent
            scams and ensure safety.
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  text-left text-[#020202]"
          >
            ➡️ Sharpen your creativity plus earn $$!
          </p>
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
          >
            Improving a product can be a great way to earn money and learn new skills. If you can
            enhance its value, you can often sell it for a higher price.
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  text-left text-[#020202]"
          >
            ➡️ And more... check below
          </p>
        </div>
      </div>
      <Image
      src={ourFeature}
      alt="Our Feature"
      class="self-stretch flex-grow-0 flex-shrink-0 w-full lg:w-[45rem] mx-auto"
    />
    </div>
    </div>
    <div
      class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-6 p-6  lg:px-[10%]"
    >
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
      >
        <p class="self-stretch flex-grow-0 flex-shrink-0 w-full text-left">
          <span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-lg font-bold  font-['Playfair_Display'] text-left text-[#5b3eff]"
            >UI FOCUS</span
          ><br /><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  font-['Playfair_Display'] text-left text-[#020202]"
            >The design system</span
          >
        </p>
      </div>
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-8"
      >
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  text-left text-[#020202]"
          >
            Color choices:
          </p>
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
          >
            <span
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold  text-left text-[#020202]"
              >Blue and green:</span
            ><span
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              These colors reflect our logo and represent earth in general.</span
            ><br /><span
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold  text-left text-[#020202]"
              >Black (#323232):</span
            ><span
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              This is used exclusively for text elements, ensuring optimal readability.</span
            >
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  text-left text-[#020202]"
          >
            The button comes in different variations to make it easier to distinguish between
            different functionalities.
          </p>
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
          >
            <span
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold  text-left text-[#020202]"
              >Regular Shape</span
            ><span
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              (Join Us, Find Out): This is the primary button style, used for navigation bars and
              landing pages. It serves as a clear Call to Action (CTA).</span
            ><br /><span
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold  text-left text-[#020202]"
              >Curved Shape</span
            ><span
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              (Sign Up): Used exclusively for the signup experience, prioritizing aesthetics.</span
            ><br /><span
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold  text-left text-[#020202]"
              >Gradient Button:</span
            ><span
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              This button offers a choice between logging in or registering.</span
            >
          </p>
        </div>
      </div>
      <Image
      src={colorChoices}
      alt="Color Choices"
      class="self-stretch flex-grow-0 flex-shrink-0 w-full lg:w-[45rem] mx-auto"
    />
    </div>
    <div
      class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 gap-6 p-6  lg:px-[10%]"
    >
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
      >
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p class="self-stretch flex-grow-0 flex-shrink-0 w-full text-left">
            <span
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-lg font-bold  font-['Playfair_Display'] text-left text-[#5b3eff]"
              >UI AND CONTENT FOCUS</span
            ><br /><span
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  font-['Playfair_Display'] text-left text-[#020202]"
              >Focusing to add value to landing page is a key</span
            >
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-8"
        >
          <div
            class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
          >
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              The landing page should serve as a way to engage the audience with BrightWaste's
              mission. I wanted the design to be fresh, and on the first page, users should have the
              option to view available products in their area.
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
      >
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  text-left text-[#020202]"
          >
            Rough draft (2 options):
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-8"
        >
          <div
            class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
          >
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              <span
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
                >Get higher value for your used materials and help earth to reduce the waste and
                people to contribute to economy grow.</span
              ><br /><span
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
                >Get higher value for your used materials and help earth to reduce the waste and
                help society to contribute to economy grow.</span
              >
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
      >
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  text-left text-[#020202]"
          >
            Final draft for home page text:
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-2.5 p-4 rounded-[15px] bg-[#aae5fe]"
        >
          <p class="flex-grow-0 flex-shrink-0 text-xl font-bold  font-['Playfair_Display'] text-left text-[#020202]">
            Get higher value...
          </p>
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base italic text-left text-[#020202]"
          >
            for your used materials and help earth to reduce the waste and lead society to a
            brighter future.
          </p>
        </div>
      </div>
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
      >
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  text-left text-[#020202]"
          >
            The navbar explanations:
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-8"
        >
          <div
            class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
          >
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              <span
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold  text-left text-[#020202]"
                >How It Works:</span
              ><span
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
              >
                This section explains the process step-by-step.</span
              ><br /><br /><span
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold  text-left text-[#020202]"
                >All Items (upcoming feature):</span
              ><span
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
              >
                Discover a curated selection of popular items available in various locations. Enable
                your location to view items near you.</span
              ><br /><br /><span
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold  text-left text-[#020202]"
                >DIY Blog:</span
              ><span
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
              >
                Join our community and explore sustainable articles and stories.</span
              >
            </p>
          </div>
        </div>
        <Image
        src={ui1}
        alt="UI 1"
        class="self-stretch flex-grow-0 flex-shrink-0 w-full lg:w-[45rem] mx-auto" />
      </div>
    </div>
    <div
      class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-6 p-6  lg:px-[10%]"
    >
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
      >
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  font-['Playfair_Display'] text-left text-[#020202]"
          >
            Explain the steps
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-8"
        >
          <div
            class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
          >
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              We want the users to know how to utilize our website to earn income and, at the same
              time, contribute to earth.
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
      >
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  italic text-left text-[#020202]"
          >
            I want to create a flow that looks like a marketplace so users or audiences can easily
            pick up the idea or how the sales work. The additional icons represent the step they
            need to take to get started on BrightWaste.
          </p>
        </div>
      </div>
      <Image
      src={ui2}
      alt="UI 2"
      class="self-stretch flex-grow-0 flex-shrink-0 w-full lg:w-[45rem] mx-auto" />
    </div>
    <div
      class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-6 p-6  lg:px-[10%]"
    >
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
      >
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  font-['Playfair_Display'] text-left text-[#020202]"
          >
            Quick video of the landing page
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-8"
        >
          <div
            class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
          >
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              Due to time constraints, I designed the product in a simplified manner. However, I
              ensured that it includes all the essential features users would expect in the initial
              version.
            </p>
          </div>
        </div>
      </div>
      <Image 
      src={videoLanding} 
      alt="Grocery Go Demo" 
      class="w-full lg:w-[45rem] mx-auto h-auto" 
      onload="document.getElementById('spinner').style.display='none';"
    />
    </div>
    <div
      class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-6 p-6  lg:px-[10%]"
    >
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
      >
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  font-['Playfair_Display']  text-left text-[#020202]"
          >
            Make offer in few steps...
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-8"
        >
          <div
            class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
          >
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              For the video prototype, we utilized Google accounts (connected to Firebase) to create
              offers. In the future, we plan to expand our capabilities to include other social
              media platforms, such as Facebook.
            </p>
          </div>
        </div>
      </div>
      <Image 
      src={videoOffer} 
      alt="Grocery Go Demo" 
      class="w-full lg:w-[45rem] mx-auto h-auto" 
      onload="document.getElementById('spinner').style.display='none';"
    />
    </div>
    <div
      class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-6 p-6  lg:px-[10%]"
    >
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
      >
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  font-['Playfair_Display'] text-left text-[#020202]"
          >
            E-commerce style in our website
          </p>
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-bold  font-['Playfair_Display'] text-left text-[#5b3eff]"
          >
            Iteration 1
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-8"
        >
          <div
            class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
          >
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              For users who wish to upload their products, I positioned the categories on the left
              side.
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              Users can directly complete the product upload form. When a user hovers over a product
              type, they will see the corresponding category name.
            </p>
          </div>
        </div>
      </div>
      <Image
      src={productUpload}
      alt="Product upload"
      class="self-stretch flex-grow-0 flex-shrink-0 w-full lg:w-[45rem] mx-auto" />
      </div>
    </div>
    <div
      class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-6 p-6  lg:px-[10%]"
    >
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
      >
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  font-['Playfair_Display'] text-left text-[#020202]"
          >
            However, concern happened...
          </p>
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-bold  font-['Playfair_Display'] text-left text-[#5b3eff]"
          >
            Iteration 2
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-8"
        >
          <div
            class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
          >
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              After consulting with our developers, they indicated that it would not be feasible to
              develop the first iteration within the current timeframe due to skill limitations.
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              I also had the opportunity to discuss the first iteration with three users. However,
              they expressed confusion regarding the placement. As a result, I decided to revise the
              concept.
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-full relative gap-4"
      >
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  text-left text-[#020202]"
        >
          ➡️ I implemented a tracker button to monitor user page activity.
        </p>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          The trackers offer two options: 'Describe,' a general upload form for item descriptions,
          and 'Get Choices,' which provides options for selling directly to the store or upcycling
          and selling later.
        </p>
        <Image
      src={productUpload2}
      alt="Product upload2"
      class="self-stretch flex-grow-0 flex-shrink-0 w-full lg:w-[45rem] mx-auto" />
      </div>
      <div
        class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-full relative gap-4"
      >
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  text-left text-[#020202]"
        >
          ➡️ Next: Select your preferred stores.
        </p>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          Once users complete the form, the system will utilize the Google Maps API to determine the
          nearest store to their location.
        </p>
        <Image 
      src={videoStore} 
      alt="Brightwaste Store" 
      class="w-full lg:w-[45rem] mx-auto h-auto" 
      onload="document.getElementById('spinner').style.display='none';"
    />
      <div
        class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-full relative gap-4"
      >
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold  font-['Playfair_Display'] text-left text-[#020202]"
        >
          ➡️ To conclude...
        </p>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          Users need to follow two pathways to submit an offer to the store.
        </p>
        <div
          class="flex justify-center items-start self-stretch flex-grow-0 flex-shrink-0 gap-[140px]"
        >
          <div
            class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#4d2eff]"
          >
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-bold  font-['Playfair_Display'] text-left text-[#020202]"
            >
              First option: Describe the item as details as possible
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              Similar to Amazon or Alibaba, we implemented an e-commerce feature that allows users
              to describe the items they wish to sell.
            </p>
          </div>
        </div>
        <div
          class="flex justify-center items-start self-stretch flex-grow-0 flex-shrink-0 gap-[140px]"
        >
          <div
            class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#4d2eff]"
          >
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-bold  font-['Playfair_Display'] text-left text-[#020202]"
            >
              Second, get two choices...
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-bold  font-['Playfair_Display'] text-left text-[#020202]"
            >
              First option:
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              Users can skip the upcycling process by clicking here. However, this will result in a
              lower offer price.
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-bold  font-['Playfair_Display'] text-left text-[#020202]"
            >
              Second option:
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              <span
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold  text-left text-[#020202]"
                >Ready to sell?</span
              ><br /><span
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
                >Click "Submit Offer" to finalize your offer after upcycling.</span
              >
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              <span
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold  text-left text-[#020202]"
                >Need more time?</span
              ><br /><span
                class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
                >Click "Save" to store user’s transaction details. We'll include DIY upcycling steps
                and estimated selling prices for user’s reference.
              </span>
            </p>
            <p
              class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >
              Once user has finished upcycling, user can easily return and submit their offer.
            </p>
          </div>
        </div>
      </div>
      <Image
      src={productUpload3}
      alt="Product upload Form"
      class="self-stretch flex-grow-0 flex-shrink-0 w-full lg:w-[45rem] mx-auto " />
    </div>
  </div>